{% extends "base.html" %}
{% block content %}

    <body>
        <div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card m-auto" style="max-width:850px">
                        <div class="card-body">
                            <h4><strong>Não foi possível verificar o link da notícia informada 🙁</strong><br></h4>
                            <p>&nbsp;<strong>A URL informada parece inválida.</strong></p>
                            <ul>
                                <li class="bullet"><i class="fa fa-check" style="color: rgb(0,128,255);"></i>Confira se a URL é válida<br></li>
                                <li class="bullet"><i class="fa fa-check" style="color: rgb(0,128,255);"></i>&nbsp;A URL pode estar bloqueada<br></li>
                            </ul>
                            <a href="{{ url_for('index_blueprint.index') }}">
                                <button class="btn btn-primary" id="try-again-btn" type="button"
                                        style="width: 200px;height: 51px;background-color: rgb(41,41,41);transition: border 0.2s ease;">
                                    Tente Novamente
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}